extends ../layouts/auth-layout
include /mixins/bootstrap/bt-button
include /mixins/bootstrap/bt-form-text-field

block content
  .col-lg-10.col-sm-10.col-xs-12
    section.registration-form
      h2 Registration.  
      form(method='POST', action='/register')
        +bt-form-text-field('Username', 'text', 'Username', 'username')
        +bt-form-text-field('Email address', 'email', 'Email address', 'email')
        +bt-form-text-field('Password', 'password', 'Password', 'password')
        +bt-form-text-field('Confirm password', 'password', 'Confirm password', 'confirm')
        +bt-button('Submit')
