extends ../layouts/layout
include /mixins/bootstrap/bt-form-text-field
include /mixins/bootstrap/bt-button
include /mixins/bootstrap/bt-select-field

block content
  .col-lg-10.col-sm-10.col-xs-12
    section.product-create
    h3 Products Create
    hr
    form(method='POST', action='/admin/product/create')
      +bt-form-text-field('Product name', 'Product name', 'product-name-input', 'title')
      +bt-form-text-field('Product slug', 'Product slug', 'product-slug-input', 'slug')
      +bt-select-field('Category', 'product-category-select', 'category', categories)
      +bt-form-text-field('Product description', 'Product description', 'product-description-input', 'description')
      +bt-form-text-field('Product price', 'Product price', 'product-price-input', 'price')
      +bt-form-text-field('Product amount', 'Product amount', 'product-amount-input', 'amount')
      +bt-form-text-field('Product img_url', 'Product img_url', 'product-img_url-input', 'img_url')
      +bt-button('Add')